<%= render 'navbar'%>

<h1>This is the About Us page</h1>

<h2>Who Are We</h2>

<p> We are your most reliable seller of trading cards, specialising in Cardfight Vanguard. Found in 2019 by Jason Liu, the owner of this online marketplace.</p>

<h2>Our History</h2>

<p>Being a huge fan of the cardfight vanguard game, one day Jason was planning out a business. He originally came up with a few ideas, but the one that fascinated him most was the thought of having a online card trading marketplace. Originally the plan was to create an online card store specialising in many different trading card games, however after further thought, we decided to instead focus on CardFight Vanguard as our main trading card game market. We are a fairly new business to the online marketplace, so if things ever go wrong, feel free to contact us at anytime. Furthermore you can contact the owner himself using his email.</p>
</div>

