<nav class="navbar">
    <ul>
        <li><a href="./orders/index">My orders</a></li>
        <li><a href="./market/buyorsell">Buy/Sell</a></li>
        <li><a href="./listings/index">Make a Listing</a></li>
        <li><a href="./market/sold">Sold Listings</a></li>
        <li><a href="./market/about">About Us</a></li>
        <li><a href="./market/contact">Contact Us</a></li>
    </ul>
</nav>
<h1>This is the buy page</h1>
