<%= render 'navbar'%>

<div class="contact-contentcontainer">
            <div class="contact-title">
                <h1 id="contacttext">Contact</h1>
                <h2 id="contacttext">Got enquiries? Feel free to contact us anytime!</h2>
            </div>
<div class="contact-form">
                <form action="https://formspree.io/email@domain.tld" method="POST" />
                <form id="contact-form" method="post" action="">
                    <input name="name" type="text" class="form-control" placeholder ="Your Name" required><br>
                    <input name="email" type="email" class="form-control" placeholder ="Your Email" required><br>
                    <textarea name="message" class="form-control" placeholder="Message" required></textarea><br>
                    <input type ="Submit" class="form-control submit" value="Send Message">
                </form>
</div>            