<nav class="navbar">
    <ul>
        <li><%= link_to 'My orders', orders_index_path %></li>
        <li><a href="./listings/index">Make a Listing</a></li>
        <li><a href="./market/about">About Us</a></li>
        <li><a href="./market/contact">Contact Us</a></li>
    </ul>
</nav>
<h1>Vanguard Marketplace</h1>
<img src="https://i1.wp.com/gnomegames.com/wp-content/uploads/2019/03/030519_1933_BushiroadLe1.png?w=1140&ssl=1">
<p>Find all your vanguard singles that you need here!</p>

